# Add any directories, files, or patterns you don't want to be tracked by version control
.DS_Store
.svn
*.swp
*~.nib

build/
product/
.adhoc/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata/
